body {
  padding-bottom: 20px;
}

#sidebar {
  height: 100%;
}

.nav-pills:active {
  color: white;
}

.active.nav-link {
  color: #3d4857 !important;
}

.form-control {
  background-color: #f9f9f9 !important;
}

.primary-text {
  color: #3d4857 !important;
}

.bi-star-fill.form:hover {
  stroke: #E4BB67;
}

.table tbody tr:last-child td {
  border-bottom: none;
}